.password-input {
   width: 100%;
   position: relative;

   input { 
      width: 100%;
      border: 1px solid lightgray;
      border-radius: 10px;
      padding: 10px;
   }

   i {
      position: absolute;
      top: 0.25em;
      right: 0.25em;
      color: blue;
      cursor: pointer;
      background-color: white;
      padding-left: 10px;
   }
}