.project-updater {
   

   .fa-play-circle {
      color: var(--app-accent-color);
      cursor: pointer;
   }

   .disabled {
      color: lightgray;
   }

   .fa-times-circle {
      color: red;
      cursor: not-allowed;
   }

   .fa-circle {
      color: green;
   }
}